<!DOCTYPE html>
<html lang="en">
<head>
    <title>Компьютерная лингвистика</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>
<body>

<header class="header">
    <h1>Контрольная работа по предмету "Компьютерная лингвистика". </h1>
</header>

<main>
     <div class="info">
        <div class="tonality">
            <button class="getTonality" onclick="location.href = '/getTonality'">Просмотр тональности предложений</button>
        </div>

        <div class="synonyms">
            <button class="getSynonyms" onclick="location.href = '/getSynonyms'">Поиск контекстных синонимов</button>
        </div>
    </div>
    <h2>Статьи с сайта <a href="https://v1.ru/"> v1.ru </a> : </h2>
    <div class="articles">

        {% for article in articles %}
        <div class="article">
            <a href={{ article[0] }}> {{ article[1] }}</a>
            <p>{{ article[5] }} </p>
        </div>
        <hr>
        {% endfor %}
    </div>
</main>

</body>
</html>