<!DOCTYPE html>
<html lang="en">
<head>
    <title>Компьютерная лингвистика</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>

<header class="header">
    <h1 class="text-center">Предложения с упоминанием персон и их тональность </h1>
</header>

<main>
    <div class="pagination-page-info d-flex justify-content-center">
        {{ pagination.links }}
    </div>
    <div class="container mt-3">
        {% for element in elements %}
        <div class="article">
            <b>{{ element[0] }} </b>
            <p>Наиболее вероятная тональность текста: {{ element[1] }}. Вероятность: {{ element[2] }}</p>
            <p>Возможная тональность текста: {{ element[3] }}. Вероятность: {{ element[4] }}</p>
        </div>
        <hr>
        {% endfor %}
    </div>
    <div class="pagination-page-info d-flex justify-content-center">
        {{ pagination.links }}
    </div>
</main>

</body>
</html>